body {
    background: url('/static/background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    animation: fadeIn 2s ease-in-out;
    font-family: 'Pacifico', cursive;
}

form {
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    animation: slideIn 1s ease-in-out;
}

input[type="file"] {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.custom-file-upload {
    border: 2px solid #fff;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
    background-color: #218838;
}

.custom-file-upload,
button[type="submit"] {
    margin-bottom: 20px; /* Add margin between the file picker and the button */
}

.result{
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
}

button[type="submit"] {
    margin-top: 50px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.back{
    margin-top: 50px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button[type="submit"]:hover {
    background-color: #0056b3;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
